/* General Styles */
body {
    max-width: 80em;
    margin: 4em auto;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    color: white;
    font-family: Georgia, "Times New Roman", serif;
    letter-spacing: .05em;
}

img {
    width: 100%;
}

/* Header Styles */
header {
    margin: 0 auto 4em auto;
    width: 90%;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 3em;
    letter-spacing: .1em;
    text-align: center;
}

header p {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    padding: 0 2em;

}
main {
    width: 90%;
    margin: auto;
}

/* Couch Gallery Section */
table, #addCouch {
    text-align: center;
    background-color: rgba(13, 30, 63, 0.9);
}

thead {
    font-size: 1em;
}

th, td {
    padding: 1em;
}

td {
    font-size: 1em;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

#picture {
    width: 30%;
}

.final-column {
    border-right: none;
}

.futureCouch {
    color: orangered;
}

div.futureCouch {
    background-color: #0D1E3F;
    padding: .5em 0;
    text-align: center;
    width: 100%;
}

label, form p {
    margin: 1em 0;
}

label {
    display: block;
}

.radio {
    display: inline;
    margin-right: 1em;
}

#addCouch {
    margin: 0 auto;

}

form {
    margin: 1em 0 1em 50%;
    transform: translateX(-42%);
    padding: 2em;
    text-align: left;
    width: fit-content;
}

button {
    padding: .75em;
    margin-left: 1.5em;
    color: #0D1E3F;
    background-color: orangered;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: .5em;
}
button#deleteButton {
    font-size: .7em;
}
