/* General Styles */
body {
    max-width: 80em;
    margin: 4em auto;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    color: white;
    font-family: Georgia, "Times New Roman", serif;
}

img {
    width: 100%;
}

/* Header Styles */
header {
    margin-bottom: 4em;
}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 3em;
    letter-spacing: .1em;
    text-align: center;
}

header p {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;

}

/* Couch Gallery Section */
table {
    text-align: center;
    background-color: rgba(13,30,63,0.9);
}

thead {
    font-size: 1.25em;
}

td, th {
    padding: 1em;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

td {
    font-size: 1.1em;
    letter-spacing: .05em;
}

#picture {
    width: 30%;
}

.final-column {
    border-right: none;
}


/* Couch Gallery Section */
/*#mainSection {*/
    /*padding: 2em 1.5em;*/
    /*background-image: linear-gradient(to top, rgba(13,30,63,0.9), rgba(13,30,63,0.4));*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
/*}*/

/*#mainSection figure {*/
    /*margin: 2em;*/
    /*flex-basis: 44.75%;*/
/*}*/

/*ul {*/
    /*list-style-type: none;*/
    /*padding-left: 0.25em;*/
/*}*/

/*li {*/
    /*padding: .25em;*/
    /*font-size: 1.2em;*/
/*}*/

/*#couch-title {*/
    /*font-weight: bold;*/
    /*font-size: 1.5em;*/
/*}*/

/*!*For smaller screens*!*/
/*@media screen and (max-width: 1200px ){*/
    /*header {*/
        /*width:80%;*/
        /*margin: 4em auto;*/
    /*}*/
    /*#mainSection {*/
        /*display: block;*/
        /*width: 80%;*/
        /*margin: auto;*/
    /*}*/

    /*li {*/
        /*text-align: center;*/
    /*}*/
/*}*/
